body {
    background-color: rgb(203, 194, 194);
   
}

.nome {
    font-size: 70px;
    display: flex;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.Palavra-colorida{
    color: rgb(34, 34, 138);
    font-weight: bold;
    text-align: center;
}

.perfil {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
       
}
.nav-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
    
    
}


.sobremim {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.margem {
    border: 3px solid black;
    width: 100%;
   
}
.sobre {
    width: 700px;
    height: 300px;
}
p {
    font-family: sans-serif;
    text-align: justify;
    
}
.rodape {
    align-items: center;
    justify-content: flex-end;
    display: flex;
    padding: 0;
    

}
.imagem {
    width: 100%;
    height: 50%;
    position: relative;
    cursor: pointer;
    
    
    
    
    
}

.imagem img {
    height: 200px;
    border-radius: 100%;
    margin: 105px;
    border: 7px solid rgb(29, 71, 99);
    width: 200px;
    
    
}
.imagem img:hover {
    transform: scale(1.2);
}



.nav-link:hover{
    font-size: 26px;
    color: #fff;
    font-family: fantasy;

}
.nav-link {
    transition: all 1s;
}
.menu-container {
    
    height: 700px;
    background:linear-gradient(rgb(33, 90, 128) , rgb(79, 129, 180));
}
.navbar {
    height: 50%;
    display: flex;
    justify-content: center;
    font-size: larger;
    
}
.caixa {
    width: 1158px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px;
    
    
}
.main-menu {
    width: 1158px;
    height: 20%;
    background:linear-gradient(rgb(33, 90, 128) , rgb(79, 129, 180));
    
   

}
.main-menu h2 {
    font-size: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    
}
.main-menu h2:hover {
    transition: all 1s;
    font-size: 60px;
    color: #eae4e4;
}

.num1 {   
    width: 370px;
    height: 500px;
    display: grid;
    align-items: end;
    border-radius: 10%;
    
}

.num2 {
    width: 370px;
    height: 500px;
    display: grid;
    align-items: end;
   
}

   

.linha1 {   
    width: 370px;
    height: 80px;
    display: flex;
    
   
}

.linha2 {    
    width: 370px;
    height: 80px;
   
}
.h4 {
    font-size: 20px;
}
.linha1 h4:hover {
    transition: all 1s;
    font-size: 30px;
    color: #d21010;
    cursor: pointer;
}
.linha2 h4:hover {
    transition: all 1s;
    font-size: 30px;
    color: #d21010;
    cursor: pointer;
}
.carousel-inner img:hover {
    transform: scale(1.1);
}

.exp {
    border: 3px solid black;
    height: 100px;
    width: 100px;
}
